.slide {
  width: 1000px;
  list-style-type: none;
  float: left;
  height: 400px;
}

#carousel {
  width: 1000px;
  height: 800px;
  border: 2px solid #000;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 5000px;
  padding: 0;
  margin: 0;
  display: block;
}

.arrowRight {
  position: absolute;
  color: #000;
  font-size: 35px;
  display: inline-block;
  width: 40px;
  top: 50%;
  right: 0;
  background: white;
  border-radius: 50%;
  height: 40px;
  z-index: 1;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
  margin: 0;
}

.arrowLeft {
  position: absolute;
  color: #000;
  font-size: 35px;
  display: inline-block;
  width: 40px;
  top: 50%;
  left: 0;
  background: white;
  border-radius: 50%;
  height: 40px;
  z-index: 1;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
}

.circles>ul>li {
  display: inline-block;
  list-style-type: none;
  width: 25px;
  height: 25px;
  background: grey;
  border-radius: 50%;
}

.cont {
  margin: 0 auto;
  width: 406px;
  text-align: center;
}

.circles>ul {
  padding: 0;
  margin: 10px 0 0 0;
}